.App {
	min-height: 100vh;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	padding: 99px 0 0 88px;
	position: relative;

	&__title {
		h1 {
			font-size: 25px !important;
			line-height: 29.35px !important;
			font-weight: 600 !important;
			color: #000 !important;
			margin: 0;
		}
	}
	&__emptyContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
	}
	&__itemsContainer {
		height: 100%;
	}
}
